<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>    
    <!-- 综合新闻id -->
    <add key="allnewsid" value="11" />
    <!-- 站点id -->
    <add key="siteid" value="1" />
 <add key="img_url" value="http://img.wiloop.net/" />
    <!-- 头像 -->
    <add key="small_avatar" value="88"/>  

    <!-- 评论 -->
    <add key="comment" value="comment_thumbnail"/>
    <add key="comment_thumbnail" value="200,200"/>
    
  </appSettings>
  <connectionStrings>
    <add name="xiaoya" connectionString="server=127.0.0.1;database=xiaoya;user id=root;password=zaq1@WSX;charset=utf8mb4"/>
    <!--<add name="xiaoya" connectionString="server=127.0.0.1;database=xiaoya;user id=root;password=123456;charset=utf8mb4"/>-->
  </connectionStrings>
  <system.web>
	<customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
</configuration>